@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 208 60% 10%;
    --card: 0 0% 100%;
    --card-foreground: 208 60% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 208 60% 10%;
    --primary: 209 64% 16%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 208 39% 33%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;
    --accent: 356 100% 97%;
    --accent-foreground: 9 58% 60%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 9 58% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 208 60% 10%;
    --foreground: 210 40% 98%;
    --card: 217 33% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 217 33% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 209 64% 16%;
    --primary-foreground: 0 0% 100%;
    --secondary: 213 33% 21%;
    --secondary-foreground: 210 40% 98%;
    --muted: 216 30% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 9 58% 60%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 74% 42%;
    --destructive-foreground: 210 40% 98%;
    --border: 213 33% 21%;
    --input: 213 33% 21%;
    --ring: 9 58% 60%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
