@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 224 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 224 10% 10%;
    --muted: 220 20% 94%;
    --muted-foreground: 220 9% 45%;
    --border: 220 13% 91%;
    --primary: 145 63% 24%;
    --primary-foreground: 145 25% 95%;

    --secondary: 145 60% 94%;
    --secondary-foreground: 145 25% 25%;
    --accent: 145 63% 90%;
    --accent-foreground: 145 25% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --input: 220 13% 91%;
    --ring: 145 63% 34%;
    
    --chart-1: 145 63% 24%;
    --chart-2: 145 50% 40%;
    --chart-3: 145 40% 50%;
    --chart-4: 145 40% 70%;
    --chart-5: 145 35% 65%;
  }

  .dark {
    --background: 224 10% 10%;
    --foreground: 210 20% 98%;
    --card: 224 10% 12%;
    --card-foreground: 210 20% 98%;
    --muted: 240 5% 15%;
    --muted-foreground: 215 15% 65%;
    --border: 240 5% 15%;
    --primary: 145 63% 34%;
    --primary-foreground: 145 25% 95%;

    --secondary: 145 10% 20%;
    --secondary-foreground: 210 20% 98%;
    --accent: 145 40% 40%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --input: 240 5% 15%;
    --ring: 145 63% 44%;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
